// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #8bd3e6;
$bg-color: linear-gradient(90deg, rgba(139,211,230,1) 35%, rgba(255,209,220,1) 100%);

window.Bar {
    background: transparent;
    color: $fg-color;
    font-weight: bold;

    >centerbox {
        background: $bg-color;
        border-radius: 10px;
        margin: 8px;
    }

    button {
        border-radius: 8px;
        margin: 2px;
    }
}
